html, body
{
    font-size: 1em; 
    font-family: verdana, tahoma, arial, helvetica, sans-serif;
}

#header, #footer 
{
    color: white;
    background: rgb(8, 133, 196);
    text-align: center;
    font-family: 'Arial';
    padding: 10px;
}

#menu 
{
    height: 100%;
    position: absolute;
    width: 20%;
    background:rgb(96, 161, 194);
    color: rgb(255,255,255);
    text-align: left;
    float: left;
}

#content
{
    margin-left: 25%;
    width: 80%;
    color: rgb(0,0,0);
    float: left;
}

#footer 
{
    clear: both;
}

a 
{
    color: white;
    text-decoration: none;
}

a:visited 
{
    color: #faffc9;
    text-decoration: none;
}

a:hover 
{
    color: #cb8583;
    text-decoration: none;
}

p
{
    padding: 5px;
}